#!/usr/bin/env bash

BITWARDEN_SESSION_FILE_PATH=/tmp/bitwarden-session

# Check if bw cli is installed
if [[ -x "$(command -v bw)" ]]; then
    if [[ -a $BITWARDEN_SESSION_FILE_PATH ]]; then
        BW_SESSION=$(cat $BITWARDEN_SESSION_FILE_PATH)
        export BW_SESSION
    fi
    # Login to bitwarden if not logged
    if [[ "$(bw status | jq -r .status)" == "unauthenticated" ]]; then
        BW_SESSION=$(bw login | grep "export BW_SESSION" | cut -d "=" -f 2- | sed 's/"//g')
        echo "$BW_SESSION" > $BITWARDEN_SESSION_FILE_PATH
        export BW_SESSION
    # Unlock bitwarden if locked
    elif [[ "$(bw status | jq -r .status)" == "locked" ]]; then
        BW_SESSION=$(bw unlock | grep "export BW_SESSION" | cut -d "=" -f 2- | sed 's/"//g')
        echo "$BW_SESSION" > $BITWARDEN_SESSION_FILE_PATH
        export BW_SESSION
    fi
fi
