{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/usr/bin/env bash
set -euxo pipefail

sudo pacman -S --noconfirm --needed gnupg bitwarden-cli jq

# Connect to bitwarden
bw logout || true
bw login

# Import gpg key
bw get attachment --itemid e1ac83ba-e272-4b58-90eb-ae4c009cf0f7 --raw kb3rqexmcioe8716h20kgjlqsaqw197f | GPG_TTY=$(tty) gpg --import

# Uninstall bitwarden
sudo pacman -Rncs --noconfirm bitwarden-cli
rm -rf "${HOME}/.config/Bitwarden CLI"
{{ end -}}
