# {{ if eq .chezmoi.os "linux" -}}
!/usr/bin/bash
set -euxo pipefail

# Install https://github.com/jdx/mise
sudo curl -Lo /usr/local/bin/mise https://mise.jdx.dev/mise-latest-linux-x64
sudo chmod +x /usr/local/bin/mise

(
    cd "${HOME}/.local/share/chezmoi"
    mise install
    source .envrc
)
{{ end -}}
