{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/bash
set -euxo pipefail

if [[ ! -d ${HOME}/.config/tmux/plugins/tpm/ ]]; then
    printf "\e[1;34m%s\e[1;0m\n" "Clone tmux tpm"
    mkdir -p "${HOME}/.config/tmux/plugins/"
    git clone https://github.com/tmux-plugins/tpm "${HOME}/.config/tmux/plugins/tpm/"
fi

if ! command -v yay; then
    printf "\e[1;34m%s\e[1;0m\n" "Setup docker"
    sudo usermod -aG docker "${USER}"
    sudo systemctl enable docker
fi

printf "\e[1;34m%s\e[1;0m\n" "Grub update to detect others systems"
sudo sed -i '/^#\?GRUB_DISABLE_OS_PROBER=/c\GRUB_DISABLE_OS_PROBER=false' /etc/default/grub
sudo grub-mkconfig -o /boot/grub/grub.cfg

if [[ "$ZSH" != "${HOME}/.oh-my-zsh" ]]; then
    printf "\e[1;34m%s\e[1;0m\n" "Setup ohmyzsh"
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" --unattended
    current_user="$USER"
    sudo -k chsh -s "$zsh" "$current_user" # Change default shell to zsh
fi
{{ end -}}
