{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
set -euo pipefail

if [[ ! -d ${HOME}/.config/tmux/plugins/tpm/ ]]; then
    printf "\e[1;34m%s\e[1;0m\n" "Clone tmux tpm"
    mkdir -p "${HOME}/.config/tmux/plugins/"
    git clone https://github.com/tmux-plugins/tpm "${HOME}/.config/tmux/plugins/tpm/"
fi

if ! command -v mise > /dev/null; then
    # Install https://github.com/jdx/mise
    printf "\e[1;34m%s\e[1;0m\n" "Install mise"
    sudo curl -Lo /usr/local/bin/mise https://mise.jdx.dev/mise-latest-linux-x64
    sudo chmod +x /usr/local/bin/mise
fi

if [[ -d /boot/grub/ ]]; then
    printf "\e[1;34m%s\e[1;0m\n" "Grub update to detect others systems"
    sudo sed -i '/^#\?GRUB_DISABLE_OS_PROBER=/c\GRUB_DISABLE_OS_PROBER=false' /etc/default/grub
    sudo grub-mkconfig -o /boot/grub/grub.cfg
fi

if [[ ! -d "${HOME}/.oh-my-zsh" ]]; then
    printf "\e[1;34m%s\e[1;0m\n" "Setup ohmyzsh"
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
    sudo -k chsh -s "$(which zsh)" "$USER" # Change default shell to zsh
fi

# Install Twilight-cursors
if [[ ! -d "/usr/share/icons/Twilight-cursors" ]]; then
    printf "\e[1;34m%s\e[1;0m\n" "Setup Twilight cursors"
    rm -rf /tmp/Twilight-Cursors
    git clone git@github.com:yeyushengfan258/Twilight-Cursors.git /tmp/Twilight-Cursors
    (
        cd  /tmp/Twilight-Cursors
        sudo ./install.sh
    )
    rm -rf /tmp/Twilight-Cursors
fi


# Setup gnome settings
if command -v gsettings > /dev/null; then
    printf "\e[1;34m%s\e[1;0m\n" "Setup Gnome settings"

    gsettings set org.gnome.desktop.input-sources sources "[('xkb', 'us+qwerty-fr')]"

    gsettings set org.gnome.shell.extensions.user-theme name "Flat-Remix-Dark-fullPanel"
    gsettings set org.gnome.desktop.interface gtk-theme "Numix-Frost"
    gsettings set org.gnome.desktop.interface icon-theme Numix-Square
    gsettings set org.gnome.desktop.interface cursor-theme "Twilight-cursors"
fi
{{ end -}}
