{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/usr/bin/env bash
set -euxo pipefail

printf "\e[1;34m%s\e[1;0m\n" "Install Git..."
sudo pacman -S --noconfirm --needed git base-devel

if ! command -v yay; then
    printf "\e[1;34m%s\e[1;0m\n" "Install Yay..."
    git clone https://aur.archlinux.org/yay.git /tmp/yay
    (
        cd /tmp/yay || exit 1
        makepkg -si
    )
    rm -rf /tmp/yay
fi

printf "\e[1;34m%s\e[1;0m\n" "Install system programs.."
packages_list=(
    # System
    flatpak
    unzip
    tar
    fzf
    jq
    ## Keyboard
    xkb-qwerty-fr
    ## Fonts
    ttf-fira-code
    ttf-firacode-nerd
    ## Theme
    numix-cursor-theme
    numix-frost-themes
    numix-square-icon-theme
    flat-remix-gnome
    # IDE
    vim
    # Terminal
    alacritty
    tmux
    tmuxinator
    zsh
    # Dev
    ## IDE
    visual-studio-code-bin
    ## VPN
    networkmanager-fortisslvpn
    python-packaging # Needed dependencies to build networkmanager-fortisslvpn https://aur.archlinux.org/packages/networkmanager-fortisslvpn#comment-973577
    ## Docker
    docker
    docker-compose
    ## Virtualbox
    virtualbox
    virtualbox-host-modules-arch
    virtualbox-ext-oracle # To add additional features https://www.virtualbox.org/manual/ch01.html#intro-installing
    linux-headers
    vagrant
)
yay -S --noconfirm --needed "${packages_list[@]}"

printf "\e[1;34m%s\e[1;0m\n" "Setup docker"
sudo usermod -aG docker "${USER}"
sudo systemctl enable docker

flatpak_flathub_apps_list=(
    org.mozilla.firefox
    org.signal.Signal
    com.slack.Slack
    com.discordapp.Discord
    com.spotify.Client
    net.cozic.joplin_desktop
    im.riot.Riot # Element
    org.videolan.VLC
    com.mattjakeman.ExtensionManager # Gnome extension manager
)
printf "\e[1;34m%s\e[1;0m\n" "Install flatpak programs.."
flatpak -y install flathub "${flatpak_flathub_apps_list[@]}"
{{ end -}}
