{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/usr/bin/env bash
set -euxo pipefail

# Install https://github.com/jdx/mise
sudo curl -Lo /usr/local/bin/mise https://mise.jdx.dev/mise-latest-linux-x64
sudo chmod +x /usr/local/bin/mise

sudo pacman -S --noconfirm --needed bitwarden-cli
bw logout || true
bw login
{{ end -}}
