set-option -g default-shell /usr/bin/zsh

# Define terminal option
set -as terminal-overrides ",alacritty*:Tc,xterm-256color:Tc"
set-option -g default-terminal "screen-256color"

set-option -g destroy-unattached off
set-option -g detach-on-destroy on

# Enable mouse
set-option -g mouse on
# Basically, on a wheelup event:  
#   if mouse is enabled, send the mouse event,  
#   else if we're in an alternate screen program, send the up key,  
#   else if pane is in copy mode, send the mouse event,  
#   else put the current pane into copy mode and send the mouse event.  
# Nested ifs are not fun.
bind -n WheelUpPane if-shell -Ft= "#{mouse_any_flag}" "send-keys -M" "if-shell -Ft= '#{alternate_on}' 'send-keys -t= up' 'if-shell -Ft= \"#{pane_in_mode}\" \"send-keys -M\" \"select-pane -t=; copy-mode -e; send-keys -M\"'"
# On a wheeldown event, if we're in an alternate screen program, send the down  
# key, else, just send the mouse event  
bind -n WheelDownPane if-shell -Ft= "#{alternate_on}" "send-keys -t= down" "select-pane -t= \; send-keys -M"

# Define prefix
set-option -g prefix C-b
# Enable vim mode
set-option -g status-keys vi
set-option -g mode-keys vi

set-option -sg escape-time 10

# Enable clipboard outside tmux
bind -T copy-mode-vi 'v' send -X begin-selection
if-shell -b 'test $(uname) = "Linux"' 'bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "xclip -in -selection clipboard"'
if-shell -b 'test $(uname) = "Darwin"' 'bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "pbcopy"'

# Activity/Notification
set-option -g bell-action any
set-option -g activity-action other
set-option -g silence-action other
set-option -g visual-activity on
set-option -g visual-bell off
set-option -g visual-silence off

set-option -g word-separators " "

set-option -g focus-events on

set -ga terminal-features "*:hyperlinks"

# URL Launcher
bind-key u run-shell -b "flatpak run app.zen_browser.zen \"$(tmux capture-pane -J -p | grep -oE '(https?):\/\/.*[^>]' | fzf-tmux -d20 --multi --bind alt-a:select-all,alt-d:deselect-all)\""

{{ if eq .chezmoi.os "linux" -}}
# Define plugins install directory https://github.com/tmux-plugins/tpm/blob/master/docs/changing_plugins_install_dir.md
set-environment -g -F TMUX_PLUGIN_MANAGER_PATH "${HOME}/.config/tmux/plugins"
{{ end -}}
# Define plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'

set -g @plugin 'dracula/tmux'
set -g @dracula-show-left-icon session
set -g @dracula-plugins "cpu-usage ram-usage"
set -g @dracula-show-flags true
set -g @dracula-show-powerline false
set -g @dracula-border-contrast true

run '${HOME}/.config/tmux/plugins/tpm/tpm'
