{{ if eq .chezmoi.os "darwin" -}}
Include /Users/itsalex/Documents/realtime-helm-package/deployment/ssh-config
{{ else -}}
Include /home/alex/Documents/realtime-helm-package/deployment/ssh-config
{{ end -}}

Host itsalex
    ForwardAgent yes
    Hostname itsalex.fr
    User itsalex

Host *
    User root
    StrictHostKeyChecking no
    ForwardAgent yes
    IdentityFile ~/.ssh/itsalex
    ControlPath /tmp/ssh-%r@%h:%p
    ControlMaster auto
    ControlPersist 10m
