{{ if and (ne (env "CHEZMOI_PASSWORD_MANAGER_DISABLED") "true") (ne (env "CHEZMOI_PASSWORD_MANAGER_DISABLED") "1") -}}
{{ bitwardenAttachment "pnqu8cj49fufppd97ybrqhz07dseabjm" "1cce863d-3878-44f9-ba25-ae4c009cf0f7" -}}
{{ end -}}