{{ if and (ne (env "CHEZMOI_PASSWORD_MANAGER_DISABLED") "true") (ne (env "CHEZMOI_PASSWORD_MANAGER_DISABLED") "1") -}}
{{ bitwardenAttachment "ylqov46m2iefge0tfotabpoh784h103w" "cc6b586b-67e2-47de-b512-b2a300fa609d" -}}
{{ end -}}