{{ if and (ne (env "CHEZMOI_PASSWORD_MANAGER_DISABLED") "true") (ne (env "CHEZMOI_PASSWORD_MANAGER_DISABLED") "1") -}}
{{ bitwardenAttachment "n8f1vqghhkvuu1sc0d4z4e8uzz6qvoqj" "79ab8594-11f3-4f14-97c5-b4cc00ca4765" -}}
{{ end -}}
