# Colors (Dracula)
import = ["~/.config/alacritty/dracula.toml"]

{{ if eq .chezmoi.os "darwin" -}}
[font]
size = 12.0

[font.bold]
family = "Monaco"
style = "Bold"

[font.bold_italic]
family = "Monaco"
style = "Bold Italic"

[font.italic]
family = "Monaco"
style = "Italic"

[font.normal]
family = "Monaco"

[shell]
args = ["-l", "-c", "source ~/.zshrc; tmux attach 2> /dev/null || tmux"]
program = "/opt/homebrew/bin/zsh"
{{ else if eq .chezmoi.os "linux" -}} 
[font]
size = 9.0

[font.bold]
family = "FiraCode"
style = "Bold"

[font.bold_italic]
family = "FiraCode"
style = "Bold Italic"

[font.italic]
family = "FiraCode"
style = "Italic"

[font.normal]
family = "FiraCode"

[shell]
args = ["-l", "-c", "tmux attach || tmux"]
program = "/bin/bash"
{{ end -}}